@font-face {
  font-family: "Lato";
  src: url("./fonts/lato/Lato-Regular.ttf");
}
.font-lato {
  font-family: "Lato";
}
@font-face {
  font-family: "Lato Medium";
  src: url("./fonts/lato/Lato-Medium.ttf");
}
.font-lato-med {
  font-family: "Lato Medium";
}

@font-face {
  font-family: "Lato-Thin";
  src: url("./fonts/lato/Lato-Thin.ttf");
}
.font-lato-thin {
  font-family: "Lato-Thin";
}
@font-face {
  font-family: "Lato-Light";
  src: url("./fonts/lato/Lato-Light.ttf");
}
.font-lato-light {
  font-family: "Lato-Light";
}
@font-face {
  font-family: "Lato-Italic";
  src: url("./fonts/lato/Lato-Italic.ttf");
}
.font-lato-italic {
  font-family: "Lato-Italic";
}

@font-face {
  font-family: "Lato-Light-Italic";
  src: url("./fonts/lato/Lato-LightItalic.ttf");
}
.font-lato-light-italic {
  font-family: "Lato-Light-Italic";
}

/* @font-face {
  font-family: "Lato-Light-Italic1";
  src: url("./fonts/lato/Lato-LightItalic (1).ttf");
}
.font-lato-light-italic1 {
  font-family: "Lato-Light-Italic1";
} */
@font-face {
  font-family: "Lato-Light-Italic2";
  src: url("./fonts/lato/Lato-LightItalic(2).ttf");
}
.font-lato-light-italic2 {
  font-family: "Lato-Light-Italic2";
}
.font-lato-bold {
  font-family: "Lato-Bold";
}
@font-face {
  font-family: "Lato-Bold";
  src: url("./fonts/lato/Lato-Bold.ttf");
}

/* lora */
@font-face {
  font-family: "Lora";
  src: url("./fonts/Lora-Regular.ttf");
}
.font-lora {
  font-family: "Lora";
}
@font-face {
  font-family: "LoraItalic";
  src: url("./fonts/lora/Lora-Italic.ttf");
}
.font-lora-italic {
  font-family: "LoraItalic";
}



