/* *{
  cursor: none
} */

.cursor {
  background-color: #111;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* -----------Navbar--------- */

@media (max-width: 767px) {
  .navList {
    background: #f0f0f0;
  }
  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
    content: "";
    background: black;
  }
  .nav {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav ul li a {
    color: black;
    background-color: #f0f0f0;
  }
  .nav ul li {
    border-bottom: 1px solid rgb(128, 126, 126);
    margin: 0px 6px;
  }
  .navBlog {
    border-bottom: none !important;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    display: block;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }
}
@media only screen and (min-width: 768px) {
  .navList {
    box-sizing: border-box;
    transition: all 0.35s ease;
  }
  .navList li {
    display: inline-block;
    padding: 0;
    margin: 0.5em 0.5em;
  }
  .navList a {
    padding: 0.5em 0.8em;
    color: white !important;
    position: relative;
    font-weight: 400;
    border: none;
    text-decoration: none;
    font-size: 17px;
  }
  .navList button {
    padding: 0.5em 0.8em;
    color: white !important;
    position: relative;
    font-weight: 400;
    border: none;
    text-decoration: none;
    font-size: 17px;
    outline: none;
  }
  .nav button:focus {
    outline: none;
  }
  .lite button {
    color: white !important;
  }

  .lite a {
    color: white !important;
  }

  .navLiteBack {
    background-color: rgba(0, 0, 0, 0.8) !important;
    height: 70px !important;
  }
}
.nav {
  background-color: rgba(0, 0, 0, 0);
  height: 90px;
  transition: all 1s ease;
}
