.text-stroke-black{
    color: transparent;
    -webkit-text-stroke: 1px #000;
    transition: all 0.4s ease;
}
.getintouch-graybg{
    transform: translateX(0%);
    transition: transform 0.4s ease-in-out;
}

.getintouch-root:hover .getintouch-graybg{
    transform: translateX(100%);
}
.getintouch-root:hover .text-stroke-black{
    color: black;
    -webkit-text-stroke: none;
}